@{
    ViewData["Title"] = "Home Page";   
}

<div class="text-center">
    <h1 class="display-4">Welcome to Accounts Page</h1>
    <p>Account Details below.</p>
</div>

<partial name="PartialViewData" />